################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InheritanceAbstractClass/.vs/InheritanceAbstractClass/v16
/InheritanceAbstractClass/Debug
/ExecptionPractice1/.vs/ExecptionPractice1/v16
